
<ion-view view-title="ไทม์ไลน์การเพาะปลูก">
  <nav mfb-menu position="br" resting-icon="ion-plus-round" active-icon="ion-close-round"  toggling-method="click" effect="slidein">
    <button mfb-button icon="ion-gear-a" label="ตั้งค่าการแสดงผลไทม์ไลน์"></button>
    <button mfb-button icon="ion-android-alert" label="เพิ่มปัญหา"></button>
    <button mfb-button icon="ion-social-usd" label="เพิ่มบัญชี"></button>
    <button mfb-button icon="ion-leaf" label="เพิ่มกิจกรรม"></button>
  </nav>
  <ion-content>
    ไทม์ไลน์การเพาะปลูก
  </ion-content>
</ion-view>
