<ion-view view-title="จัดการการเพาะปลูก">
  <ion-tabs class="tabs-custom tabs-icon-top tabs-background-balanced tabs-color-stable">
    <ion-tab title="ไทม์ไลน์" icon="my-icon ion-ios-pulse-strong" href="#/app/menucropdetail/croptimeline">
      <ion-nav-view name="tab-timeline"></ion-nav-view>
    </ion-tab>

    <ion-tab title="ภาพรวม" icon="my-icon ion-ios-pie" href="#/app/menucropdetail/cropdetail">
      <ion-nav-view name="tab-detail"></ion-nav-view>
    </ion-tab>
    <ion-tab title="ปัญหา" icon="my-icon ion-android-alert" href="#/app/menucropdetail/cropproblem">
      <ion-nav-view name="tab-problem"></ion-nav-view>
    </ion-tab>
    <ion-tab title="บัญชี" icon="my-icon ion-social-usd" href="#/app/menucropdetail/cropaccount">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view >
