<ion-view view-title="จัดการการเพาะปลูก">
  <ion-tabs class="tabs-custom tabs-icon-top">
    <ion-tab title="ไทม์ไลน์" icon="my-icon ion-ios-pulse-strong" ui-srfef="app.tab.cropTimeline">
      <ion-nav-view name="tab-timeline"></ion-nav-view>
    </ion-tab>

    <ion-tab title="ภาพรวม" icon="my-icon ion-ios-pie" ui-srfef="app.tab.cropDetail" >
      <ion-nav-view name="tab-detail"></ion-nav-view>
    </ion-tab>
    <ion-tab title="ปัญหา" icon="my-icon ion-android-alert" >
      <ion-nav-view name="topic-manage"></ion-nav-view>
    </ion-tab>
    <ion-tab title="บัญชี" icon="my-icon ion-social-usd" >
      <ion-nav-view name="topic-manage"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view >
